$button-color: #004263;
$button-shadow: #003149;

.register__form {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.register__button {
  background-color: $button-color;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px $button-shadow;
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5em;
  height: 40px;
  letter-spacing: 5px;
  width: 120px;
}

.error__email {
  color: white;
}

.register__input {
  height: 40px;
  font-size: 1em;
  margin: 20px;
  text-align: center;
  width: 300px;
}