$header-color: #B27A27;
$shadow-color-one: #6D4B18;
$shadow-color-two: #4C3410;
$button-color: #004263;
$button-shadow: #003149;


h1 {
  font-family: 'Fascinate Inline', cursive;
  text-shadow: 0 1px 0px $shadow-color-one,
    1px 0 0px $shadow-color-two,
    1px 2px 1px $shadow-color-one,
    2px 1px 1px $shadow-color-two,
    2px 3px 2px $shadow-color-one,
    3px 2px 2px $shadow-color-two,
    3px 4px 2px $shadow-color-one;
  }
  
  .header {
  align-items: center;
  color: $header-color;
  display: flex;
  font-family: 'Fascinate Inline', cursive;
  font-size: 2em;
  height: 10vh;
  letter-spacing: 7px;
  justify-content: space-between;
  width: 85%;
}

.user__button {
  background-color: $button-color;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px $button-shadow;
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: .7em;
  height: 40px;
  letter-spacing: 5px;
  width: 120px;
}

h3 {
  font-family: 'Staatliches', cursive;

}