img {
  width: 200px;
}

.movie__card {
  background-color: rgba(0, 31, 46, 0.78);
  border: 2px solid black;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 3px;
  height: 70vh;
  padding: 15px;
}

.overview {
  height: 20vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  width: 95;
}

.favorite__logo {
  height: 8vh;
  width: 40%;
}

.favorited {
  background-color: #520022;
}