$button-color: #004263;
$button-shadow: #003149;

img {
  width: 200px;
}

.movie__card {
  align-items: center;
  background-color: rgba(0, 31, 46, 0.78);
  color: white;
  display: flex;
  flex-direction: column;
  margin: 3px;
  margin-block-start: 5px;
  height: 70vh;
  padding: 15px;
  width: 15%;
}

.movie__title {
  font-family: 'Staatliches', cursive;
  font-size: 1.7em;
  height: 8vh;
  letter-spacing: 3px;
}

.overview {
  height: 20vh;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1em;
  overflow: scroll;
  width: 95%;
}

.favorite__star {
  height: 4vh;
  width: 20%;
}

.view-movie__div {
  background-color: $button-color;
  border: none;
  box-shadow: 4px 4px $button-shadow;
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1em;
  height: 40px;
  letter-spacing: 5px;
  text-decoration: none;
  width: 120px;
}