img {
  width: 200px;
}

.movie__card {
  background-color: rgba(0, 31, 46, 0.78);
  color: white;
  display: flex;
  flex-direction: column;
  margin: 3px;
  height: 70vh;
  padding: 15px;
}

.movie__title {
  font-family: 'Staatliches', cursive;
  font-size: 1.7em;
  height: 8vh;
  letter-spacing: 3px;
}

.overview {
  height: 20vh;
  font-family: 'Barlow Condensed', sans-serif;
  overflow: scroll;
  width: 95%;
}

.favorite__logo {
  height: 8vh;
  width: 40%;
}

.favorited {
  background-color: #520022;
}