$container-color: #3C7A89;

.movie__container {
  align-items: center;
  background-color: $container-color;
  display: flex;
  height: 80vh;
  justify-content: center;
  overflow: overlay;
  overflow-y: hidden;
  overflow-x: auto;
  width: 85%;
  white-space: pre-wrap;
}