$container-color: #3C7A89;

.movie__container {
  align-items: center;
  background-color: $container-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80vh;
  justify-content: center;
  overflow: scroll;
  overflow-x: hidden;
  width: 85%;
}